.card {
    background: #fff;
    border-radius: 2px;
    height: 185px;
    margin: 10px;
    position: relative;
    width: 185px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
  }
  
  .card > .img-container {
    height: 70%;
    overflow: hidden;
    text-align: center;
    background:#6CADDC;
  }
  .card > .img-container > img {
    width: 100%
  }
  .cardImg{
    min-width: 100%;
    min-height: 100%;
  }
  
  .card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 10px;
  }
  
  .card > .content > ul {
    list-style-type: none;
  }
  
  .card > .content > ul > li {
    margin-top: 0px;
  }